// Colors:
$red: #f6416c;
$grey: #666666;


// Website colors:
$accent: $grey;
$siteBackground: white;


// Typography colors:
$primaryTextColor: #333333;
$secondaryTextColor: #999999;


// Typography:
$headingType: "Muli", "Times New Roman", serif;
$bodyType: "Source Sans Pro", "Calibri", "Arial", sans-serif;
$cursiveType: "Muli", script;


// Dimensions:
$containerWidth: 69rem;
$contentSepVal: 120px;


// Breakpoints:
$break-mobile: 420px;
$break-tablet: 640px;
$break-desktp: 800px;