{% extends "_layout.html" %}

{% block content %}
<section>
    <h2>Login</h2>
    <form action="LoginHandler" method="POST" class="form">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" spellcheck="false" autocomplete="off" placeholder="Ex. r1ck_">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*************">
        </div>
        <div>
            <label for="btnLogin"></label>
            <button id="btnLogin">Login</button>
        </div>
    </form>
    <p>New member? <a href="/signup">Signup</a></p>
</section>
{% endblock %}