{% extends "_layout.html" %}

{% block content %}
<section>
    <h2>Signup</h2>
    <form action="SignupHandler" method="POST" class="form">
        <div>
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" spellcheck="false" autocomplete="off" placeholder="Ex. Rick Sanchez">
        </div>
        <div>
            <label for="email">Your email address</label>
            <input type="text" id="email" name="email" spellcheck="false" autocomplete="off" placeholder="Ex. rick.sanchez@example.com">
        </div>
        <div class="hide">
            <label for="username">Create your username</label>
            <input type="text" id="username" name="username" spellcheck="false" autocomplete="off" placeholder="Ex. r1ck_">
        </div>
        <div>
            <label for="password">Create a password</label>
            <input type="password" id="password" name="password" placeholder="*************">
        </div>
        <div>
            <label for="password2">Confirm password</label>
            <input type="password" id="password2" name="password2" placeholder="*************">
        </div>
        <div>
            <label for="btnSignup"></label>
            <button id="btnSignup">Signup</button>
        </div>
    </form>
    <p>Already a member? <a href="/login">Login</a></p>
</section>
{% endblock %}