// Variables:
$gutter: 15px;

// Mixins:
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.grid {
    @include clearfix;

    &.no-gutter .col {
        padding: 0;
    }

    &.no-gutter-on-sides .col {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.col {
    float: left;
    padding: $gutter 0 $gutter $gutter;

    .grid &:last-of-type {
        padding-right: $gutter;
    }
}

@for $num from 1 through 12 {
    .col-#{ $num } {
        width: 100%;

        @media screen and (min-width: $break-mobile) {
            & {
                width: $num / 12 * 100%;
            }
        }
    }

    .col-#{ $num }--fixed {
        width: $num / 12 * 100%;
    }
}