* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: $siteBackground;
    color: $primaryTextColor;
    font-family: $bodyType;
}

h1, h2, h3 {
    font-family: $headingType;
}

p, ul, ol {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: $accent;
    text-decoration: none;
    border-bottom: 1px solid;
}

section {
    margin-top: $contentSepVal;

    &:first-child {
        margin-top: 0;
        min-height: 420px;
    }
}