.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 20px;
}

.hide {
    display: none;
}

.img-wrapper {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

.align--right {
    text-align: right;
}

.text--small {
    @media screen and (min-width: $break-desktp) {
        & {
            font-size: 0.85rem;
        }
    }
}

.text--disabled {
    color: $secondaryTextColor;
}

.err {
    color: $red;
}